* {
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
  font-size: 16px;
}

header {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
  position: relative;
}
header img {
  width: 200px;
}
header i {
  font-size: 3em;
  color: #353535;
  position: absolute;
  left: 50px;
}

main .restauimg {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 700px;
}

section {
  padding-top: 50px;
  padding-left: 20px;
  background-color: #eeeeee;
  padding-right: 20px;
}
section .restau-title {
  display: flex;
  justify-content: space-between;
}
section .restau-title h1 {
  font-family: "Shrikhand", serif;
  font-weight: 400;
  font-size: 28px;
  margin-top: 0px;
}
section .restau-title i {
  font-size: 2em;
}
section h2 {
  font-weight: 150;
  border-bottom: solid 3px #99E2D0;
  width: 60px;
}
section ul {
  list-style-type: none;
  padding-left: 0;
}
section li {
  background-color: white;
  border-radius: 30px;
  padding: 20px 30px 20px 20px;
  box-shadow: 10px 10px 10px lightgray;
  margin-bottom: 15px;
}
section h3 {
  font-size: 18px;
  margin-top: 0;
  margin-bottom: 0;
}
section p {
  font-weight: 150;
  margin-top: 10px;
  margin-bottom: 0;
}
section span {
  font-weight: 450;
  color: #353535;
  margin-top: 10px;
}
section .prices {
  display: flex;
  justify-content: space-between;
}
section .order {
  display: flex;
  align-items: center;
  justify-content: center;
}
section button {
  padding: 20px;
  border-radius: 50px;
  width: 200px;
  background: linear-gradient(0deg, #A05ADC, #E972DA);
  border-style: none;
  color: white;
  margin-top: 50px;
  margin-bottom: 50px;
  box-shadow: 10px 10px 10px lightgray;
}

footer {
  background-color: #353535;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
}
footer img {
  color: white;
  padding-left: 40px;
}
footer ul {
  list-style-type: none;
  color: white;
  padding-left: 0;
}
footer ul li {
  margin-bottom: 15px;
}
footer a {
  color: white;
  text-decoration: none;
}
footer p {
  font-family: "Shrikhand", serif;
  font-weight: 300;
  font-size: 27px;
  color: white;
}
footer .symbols {
  display: flex;
  align-items: baseline;
}
footer i {
  padding-right: 10px;
}
footer p {
  margin-top: 0;
  margin-bottom: 0px;
}

/****** Media queries ***********/
/* Large devices (laptop, desktop, superior to 1025px) */
@media (min-width: 1025px) {
  header i {
    font-size: 28px;
    bottom: 25px;
  }
  section {
    width: 80%;
    margin-left: 200px;
    margin-right: 200px;
    border-radius: 40px 40px 0 0;
  }
  section .restau-title {
    justify-content: center;
  }
  section .restau-title h1 {
    margin-right: 20px;
  }
  section .menus {
    margin-left: 300px;
  }
  section li {
    width: 60%;
  }
  footer p {
    display: none;
  }
  footer ul {
    display: flex;
    justify-content: flex-end;
  }
  footer ul li {
    margin-right: 20px;
  }
  footer ul .logo span {
    display: block;
    font-family: "Shrikhand", serif;
    font-weight: 300;
    color: white;
    font-size: 18px;
  }
}/*# sourceMappingURL=restaurants.css.map */