* {
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
}

body {
    margin: 0;
}

header {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 30px;
}

.location {
    display: flex;
    justify-content: center;
    font-size: 2em;
    color: #353535;
    background-color: #d1d1d1;
    padding-top: 25px;
    padding-bottom: 25px;
    box-shadow: 10px 10px 10px #686868
}

.fa-location-dot {
    margin-right: 30px;
}

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1 {
    text-align: center;
    font-size: 3em;
    padding-left: 250px;
    padding-right: 250px;
    margin-bottom: 0;
}

.intro p {
    font-size: 2em;
    font-weight: 150;
    text-align: center;
    padding-left: 150px;
    padding-right: 150px;
}

.explore {
    padding: 15px;
    font-size: 1.5em;
    border-radius: 50px;
    width: 50%;
    margin-left: 250px;
    background: linear-gradient(90deg, #E972DA, #A05ADC);
    border-style: none;
}

section img {
    width: 900px;
}